
.banner_image{padding-top: 75px;
padding-bottom: 50px;
text-align: center;
color: #f8f8f8;background-image: url('imgss.jpg') ;
background-size: cover;
}

body

{
background-image: url('watch.jpg') ;

}
.banner_content{position: relative;
padding-top: 6%;
padding-bottom: 6%;
margin-top: 12%;
margin-bottom: 12%;
color:red; 
font-weight: bold;
font-size: 50px;
background-color: #ff99ff;
font-family: cursive;
}

.brand1{

text-align: center;
padding-top: 50px;

}

.image-resize{

height: 380px;
object-fit: cover;
object-position: center center;


}
footer{padding: 10px 0;
       background-color: #101010;
       color: #0000ff;
       bottom:100%;
       width: 100%;
       font-weight: bold;
       font-size: 15px
}


  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .panel-footer section hr {
    width: 50%;
  }
  

.row_style{margin-top: 100px;
          margin-bottom: 15%;
}
.text_styling{font-style: italic;
             font-size: 12px;
}
.link{text-decoration: none;
     font-weight: bold;
}
.gap{margin-top:30px;
}
.row_bg{background-color: #ddd;
}
.rowstyle{margin-top: 20%;
          font-size: 17px;
}